body
{
	margin: 0px;
}

div.banner
{
	background-color: white;
	min-width: 1050px;
}

div.banner h1
{
	color: #1b0737;
	text-align: center;
	margin: 0px;
	padding: 10px;
}

div.top-menu
{
	background-color: #1b0737;
	margin: 0px;	
	min-width: 1050px;
}

div.top-menu ul
{
	text-align: center;
	padding: 10px;
	margin: 0px;
}

div.top-menu ul li
{
	display: inline-block;
}

div.top-menu ul li a.cur
{
	color: white;
	margin-right: 20px;
	text-decoration: underline;
}

div.top-menu ul a.not-cur
{
	color: white;
	margin-right: 20px;
	text-decoration: none;
}

div.left-menu
{
	background-color: #c3b8d4;
	float: left;
	min-width: 250px;
	min-height: 800px;
	margin: 0px;
	padding: 0px;
}

div.left-menu ul
{
	height: 100%;
	margin: 0px;
	padding-top: 20px;
	padding-left: 20px;
}

div.left-menu ul li
{
	line-height: 50px;
}

div.left-menu ul li a
{
	color: #1b0737;
	font-weight: bold;
	text-decoration: none;
}