body
{
	margin: 0px;
}

div.banner
{
	background-color: white;
	min-width: 1050px;
}

div.banner h1
{
	color: #1b0737;
	text-align: center;
	margin: 0px;
	padding: 10px;
}

div.top-menu
{
	background-color: #1b0737;
	margin: 0px;	
	min-width: 1050px;
}

div.top-menu ul
{
	text-align: center;
	padding: 10px;
	margin: 0px;
}

div.top-menu ul li
{
	display: inline-block;
}

div.top-menu ul li a.cur
{
	color: white;
	margin-right: 20px;
	text-decoration: underline;
}

div.top-menu ul a.not-cur
{
	color: white;
	margin-right: 20px;
	text-decoration: none;
}

div.left-menu
{
	background-color: #c3b8d4;
	float: left;
	min-width: 250px;
	min-height: 800px;
	margin: 0px;
	padding: 0px;
}

div.left-menu ul
{
	height: 100%;
	margin: 0px;
	padding-top: 20px;
	padding-left: 20px;
}

div.left-menu ul li
{
	line-height: 50px;
}

div.left-menu ul li a
{
	color: #1b0737;
	font-weight: bold;
	text-decoration: none;
}

div.content
{
	min-width: 1050px;
	margin: 0px;
	padding: 0px;
}

div.content p.g-name
{
	text-align: center;
	padding-top: 10px;
	color: #1b0737;
	font-style: italic;
	font-weight: bold;
}

div.content img.g-pic
{
	margin-top: 20px;
	margin-left: 160px;
	min-width: 640px;
}

div.content img.m1-pic
{
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
}

div.content a.mem1
{
	float: left;
	margin-top: 100px;
	margin-left: 30px;
	line-height: 30px;
	font-style: italic;
	text-decoration: underline;
}

div.content img.m2-pic
{
	float: left;
	margin-top: 80px;
	margin-bottom: 50px;
	margin-left: 100px;
}

div.content a.mem2
{
	float: left;
	margin-top: 110px;
	margin-left: 40px;
	line-height: 30px;
	font-style: italic;
	text-decoration: underline;
}